

<div id="route">
	<div class="container">

		<div class="row menu">
			<a href="/" class="back">
				<span class="icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve"> <polygon id="arrow-25-icon" points="142.332,104.886 197.48,50 402.5,256 197.48,462 142.332,407.113 292.727,256 "></polygon></svg></span>
			</a>
			<h1 class="title">Cheyenne Grille Route</h1>
		</div>
	
		<div class="row subtitle">
			<h2 class="subtitle">Select a Distance</h2>
		</div>


		<!-- <div class="row"> -->
			<div class="distances">
				<a href="/routes/cheyenne/16.html">8.4</a>
				<a href="/routes/cheyenne/16.html">10.1</a>
				<a href="/routes/cheyenne/16.html">12.3</a>
				<a href="/routes/cheyenne/16.html">14.5</a>
				<a href="/routes/cheyenne/16.html">16.1</a>
				<a href="/routes/cheyenne/16.html">18.4</a>
				<a href="/routes/cheyenne/16.html">20.7</a>
			</div>
			<!-- <div class="distances"> --><!-- 
				<div><a href="/routes/cheyenne/16.html">6</a></div>
				<div><a href="/routes/cheyenne/16.html">8</a></div>
				<div><a href="/routes/cheyenne/16.html">10</a></div>
				<div><a href="/routes/cheyenne/16.html">12</a></div>
				<div><a href="/routes/cheyenne/16.html">14</a></div>
				<div><a href="/routes/cheyenne/16.html">16.12</a></div> -->
			<!-- </div> -->

		<!-- </div> -->
<!-- 
		<div class="row">
			<ul class="distances">
				<li><a href="/routes/cheyenne/16.html">18.4</a></li>
			</ul>
		</div> -->

	</div>
</div>

<!-- <div class="clear"></div> -->
