

{% assign url = page.url|remove:'index.html' %}

<div class="content">
	<div class="container">

		<div class="row menu">
			
			<div class="title-container">
				<a href="/" class="back">
					<span class="icon back-icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve"> <polygon id="arrow-25-icon" points="142.332,104.886 197.48,50 402.5,256 197.48,462 142.332,407.113 292.727,256 "></polygon></svg></span>
					<h1>Decatur</h1>
				</a>
			</div>
		</div>
	
		<div class="row">
			<h2>Starts from the Big Peach Running Company</h2>
		</div>

		<div class="distances">
			<a href="8.html" {% if page.mileage == 8 %} class="active" {% endif %}>8</a>
			<a href="10.html" {% if page.mileage == 10 %} class="active" {% endif %}>10</a>
			<a href="12.html" {% if page.mileage == 12 %} class="active" {% endif %}>12</a>
			<a href="14.html" {% if page.mileage == 14 %} class="active" {% endif %}>14</a>
		</div>

	</div>
</div>

<!-- <div class="clear"></div> -->
